body, html{
  padding: 0; margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  background-color: #000000;
  color: #ffffff;
}
#containerPage{
  margin: 10px; padding: 0;
  height: 90vh;
  width: 100%;
}
/* navbar */
#navBar .navbar{
  /*background-color: #131313;*/
  background-color: transparent;
}
  /* lien navbar */
  #navBar li:hover{
    border-bottom: 1px solid #636363;
  }
  /* lien actif */
  #navBar .active{
    font-weight: 600;
  }
  #logoNavbar{
    height: 60%;
    width: auto;
  }
#containerMain{
  margin: 10px; padding: 0;
  height: 100%;
  width: 100%;
}
/* image le l'elephant */
#elephantImg{
  margin: 0; padding: 0;
  transform: scale(0.9);
  max-height: 100%;
  max-height: 100%;
  width: auto;
  display:block;
}
#rightPart{
  height: 100%;
  vertical-align:middle;
  text-align: center;
}
/* partie haute droite de la page */
#RightTopPart{
  height: 50%;
  margin-bottom: 20px;
}
#RightTopPart h1{
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
  #RightTopPart #timer{
    font-size: 36px;
    font-weight: 600;
    padding: 0;
    margin-bottom: 0;
  }
  #RightTopPart .mort{
    margin-left: 10px;
    font-size: 24px;
    background-color: #a31e1e;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 0;
  }
  #RightTopPart #sentens{
  }
  /* Tooltip */
  #RightTopPart .test + .tooltip > .tooltip-inner {
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #a31e1e;
    padding: 15px;
    font-size: 20px;
  }
  /* Tooltip au dessus */
  #RightTopPart .test + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #a31e1e;
  }

/* partie basse droite de la page */
#RightBottomPart{
  height: 50%;
}
  #RightBottomPart span{
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
  }
/* overlay Actualité */
/* The side navigation menu */
#overlay {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  /* The navigation menu links */
  #overlay #closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  /* When you mouse over the navigation links, change their color */
  #overlay #closebtn:hover {
    color: #f1f1f1;
  }
  /* Position and style the close button (top right corner) */
  #overlay #closebtn {
    top: 50px;
    font-size: 36px;
    margin-left: 80%;
    cursor: pointer;
  }
  #containtOverlayActuality{
    border-left: 2px solid #ffffff:
  }
    #containtOverlayActuality .paragraph{
    }
    #containtOverlayActuality H2{
      padding: 8px 20px 15px 10px;
      margin-bottom: 20px;
      border-left: 2px solid #247c8f;
      border-top: 2px solid #247c8f;
      border-radius: 2px;
      background-color: #343434;
      background-image: linear-gradient(to right, #343434, #111111);
    }
    #containtOverlayActuality p{
      margin-left: 10px;
    }
    #containtOverlayActuality p .tabulation{
      padding-left: 2em;
    }
    #containtOverlayActuality .source{
      padding: 5px 10px;
      text-decoration: none;
      border: 2px solid #247c8f;
      border-radius: 2px;
      color: #ffffff;
      font-weight: 700;
    }
    #containtOverlayActuality .source:hover{
      box-shadow: 2px 2px 15px #103a44;
    }
    #containtOverlayActuality .source:active{
      box-shadow: 1px 1px 5px #103a44;
    }
    #containtOverlayActuality i{
      color: #ffffff;
    }

/* media queries */
@media screen and (max-width: 770px) {
  #overlay #closebtn {
    margin-left: 75%;
  }
  #RightTopPart{
    height: 30%;
  }
}
